[user]
	name = Russell Shurts
	email = rshurts@users.noreply.github.com
[color]
	ui = auto
[alias]
	ls = log --pretty=format:'%C(yellow)%h%Creset %C(dim cyan)%an%Creset %C(bold blue)%cr%Creset - %C(normal)%s%Creset' --abbrev-commit --stat
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[push]
	autoSetupRemote = true
